.header {
  width: 100%;
  height: 70px;
  background-color:#231F20;
  display: flex;
  align-items: center;
}
.header img {
  padding-left: 20px;
  width: 150px;
}

.loginBlock {
  float: right;
  color: aqua;
}
