.app-wrapper {
  margin: 0 auto;
  display: flex;
  width: 1000px;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  background-color: #fff;
  height: calc(100vh - 70px);
}

.app-wrapper-content {
  width: calc(100% - 220px);
  align-self: stretch;
  height: calc(100vh - 70px);
  overflow: hidden auto;
}
